<!DOCTYPE html>
<html>

<body
    <h1>This is Cart/Order Page </h1>
    <ul>
        {{#each products}}
        <li>{​​​​​​{​​​​​​@key}​​​​​​}​​​​​​: {​​​​​​{​​​​​​this.Ten}​​​​​​}​​​​​​ {​​​​​​{​​​​​​this.Gia}​​​​​​}​​​​​​ {​​​​​​{​​​​​​this.SoLuong}​​​​​​}​​​​​​ </li>


        {{/each}}
    </ul>
</body>

</html>
